* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #c0c0c0, #d0b397, #f5f5f5, #e6e6fa, #ba9882, #fff5ee, #896a5a, #62604e);
  background-size: 2400px;
  background-repeat: no-repeat;
  animation: fanimado 20s infinite;
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-camino {
  background-color: none;
  font-size: 1.5rem;
}
.nav-camino .logo {
  display: flex;
  width: 60px;
  height: 60px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Kalam", cursive;
}
.container-footer ul {
  list-style-type: none;
}
.container-footer .datos {
  flex-basis: 50%;
  text-align: left;
}
.container-footer .redes {
  flex-basis: 50%;
  text-align: right;
}

.flexcontainer-main {
  display: flex;
  flex-flow: column wrap;
}
.flexcontainer-main .conteiner-imagen {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.flexcontainer-main .conteiner-imagen .fitzroy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
}
.flexcontainer-main .conteiner-imagen .title-h1 {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 30%;
  font-family: "Kalam", cursive;
  font-size: 4vw;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: rgb(123, 185, 243);
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
.flexcontainer-main .first-p {
  position: relative;
  display: inline-block;
  font-family: cursive;
  font-size: 2vw;
  font-style: oblique;
  font-weight: lighter;
  text-align: center;
  color: rgb(189, 196, 211);
  border: 2px solid #141414;
  background-color: #2e2e2e;
}
.flexcontainer-main .gridconteiner-actividades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.flexcontainer-main .gridconteiner-actividades .grid-item-act {
  position: relative;
  display: inline-block;
}
.flexcontainer-main .gridconteiner-actividades .grid-item-act img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.flexcontainer-main .gridconteiner-actividades .grid-item-act h2 {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
  font-size: 2em;
}
.flexcontainer-main .video-responsive {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.flexcontainer-main .video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-container-act {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 20px;
}
.grid-container-act .title-act {
  position: relative;
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 3vw;
  font-style: oblique;
  font-weight: lighter;
  text-align: center;
  color: rgb(189, 196, 211);
  border: 2px solid #141414;
}
.grid-container-act .actividades {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Por defecto: 2 columnas */
  grid-gap: 10px;
  /*grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;*/
}
.grid-container-act .actividades .grid-item {
  border: 1px solid black;
  padding: 10px;
}
.grid-container-act .mas-info {
  text-align: center;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.grid-container-act .mas-info :hover {
  background-color: #b993c4;
}

.title-contacto {
  position: relative;
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 3vw;
  font-style: oblique;
  font-weight: lighter;
  text-align: center;
  color: rgb(189, 196, 211);
  border: 2px solid #141414;
}

.grid-container-contact {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto auto;
}
.grid-container-contact .grid-item {
  display: block;
  max-width: 100%;
  height: auto;
}
.grid-container-contact .grid-item-p {
  grid-column: 1/span 3;
}
.grid-container-contact .grid-item-f {
  grid-column: 1/span 1;
}
.grid-container-contact .grid-item-i {
  grid-column: 2/span 1;
}
.grid-container-contact .grid-item-m {
  grid-column: 1/span 1;
}
.grid-container-contact .grid-item-d {
  grid-column: 2/span 1;
}

.title-galeria {
  position: relative;
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 3vw;
  font-style: oblique;
  font-weight: lighter;
  text-align: center;
  color: rgb(189, 196, 211);
  border: 2px solid #141414;
}

.grid-container-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container-galeria .gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.grid-container-galeria .gallery-item .gallery-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner-imagen {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.conteiner-imagen .fitzroy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
}
.conteiner-imagen .title-h1 {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 30%;
  font-family: "Kalam", cursive;
  font-size: 4vw;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: rgb(123, 185, 243);
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.grid-container-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}
.grid-container-nosotros .grid-item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-container-nosotros .grid-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 960px) {
  body {
    background-size: 960px;
    background-repeat: no-repeat;
  }
  .grid-container-nosotros {
    grid-template-columns: 1fr;
    grid-template-areas: "texto1" "imagen1" "texto2" "imagen2";
  }
  .gridconteiner-actividades {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 960px) {
  .grid-container-act {
    grid-column: 1;
  }
  .grid-container-act .grid-item {
    grid-template-areas: unset;
  }
}

/*# sourceMappingURL=styles.css.map */
