@import './partials/variables';
@import './partials/index.scss';
@import './partials/actividades.scss';
@import './partials/contacto.scss';
@import './partials/galeria.scss';
@import './partials/nosotros.scss';

//selector universal//
* {
	margin: 0;
	padding: 0;
}
.nav-camino {
	background-color: $background-color_1;
	font-size: 1.5rem;

	.logo {
		display: flex;
		@include sizes (60px,60px);
	}
}
