//selector universal//
* {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
	background-image: linear-gradient(135deg, #c0c0c0, #d0b397, #f5f5f5, #e6e6fa, #ba9882, #fff5ee, #896a5a, #62604e);
	background-size: 2400px;
	background-repeat: no-repeat;
	animation: fanimado 20s infinite;
}
@keyframes fanimado {
	0%{
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}