.nav-camino {
	background-color: $background-color_1;
	font-size: 1.5rem;

	.logo {
		display: flex;
		@include sizes (60px,60px);
	}
}
.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    font-family: $font-family_1;

    ul {
        list-style-type: none;
    }
    .datos {
        flex-basis: 50%;
        text-align: left;
    } 
    .redes {
        flex-basis: 50%;
        text-align: right;
    } 
}