//colors//
$color_1: rgb(123, 185, 243);
$color_2: rgb(189, 196, 211);
$background-color_1: none;
$background-color_2: aliceblue;
//fonts//
$font-family_1: 'Kalam', cursive;
$font-family_2: 'Oxygen', sans-serif;
//sizes//
@mixin sizes ($width, $heigth) {
    width: $width;
    height: $heigth;
}