.grid-container-act {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 20px;

    .title-act {
        position: relative;
        display: block;
        font-family: $font-family_2;
        font-size: 3vw;
        font-style: oblique;
        font-weight: lighter;
        text-align: center;
        color: $color_2;
        border: 2px solid #141414;
    }

    .actividades {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Por defecto: 2 columnas */
        grid-gap: 10px;
        /*grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;*/
    
        .grid-item {
        border: 1px solid black;
        padding: 10px;
        }
    }

    .mas-info {
        text-align: center;
        padding: 10px 20px;;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        
        :hover {
            background-color: #b993c4;
        }
    }
}
