.flexcontainer-main{

    .h1 {
        position: relative;
        display: block;
        font-family: $font-family_2;
        font-size: 3vw;
        font-style: oblique;
        font-weight: lighter;
        text-align: center;
        color: $color_2;
        border: 2px solid #141414;
    }
}
